* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    margin: 2rem;
}

h5 {
    margin: 0.6rem;
}

textarea {
    padding: 0.4rem;
    font-size: 16px;
    width: 79%;
    outline: none;
}

button {
    display: block;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}